<!DOCTYPE html>
<html>
    <head>
        <title>Mobile Web Site</title>
        <link href="bootstrap.min.css" rel="stylesheet">
        <script src="bootstrap.min.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
      <div class="container mt-5">
        <h1>#{client} версия обнаружена сервером</h1>
        <p><b>Ваш браузер:</b> #{useragent} </p>
        <p>
          Примеры:<br>
          <a target="_blank" href="https://m.lenta.ru/">Отдельный сайт lenta.ru</a><br>
          <a target="_blank" href="https://yandex.ru/">yandex.ru - откроется только с смартфона или эмулятора</a><br>
          <a target="_blank" href="https://m.pikabu.ru/">m.pikabu.ru - откроется только с смартфона или эмулятора</a>
        </p>
        <div class="row mt-5">
          <div class="w-50 bg-success">
            Плюсы:<br>
            <ul>
              <li>
                Мобильный сайт оптмизирован под слабые устройства<br>
                (можно уменьшить картинки, уменьшить сложность вёрстки и количество элементов графического интерфейса)
              </li>
              <li>
                Десктоп сайт преукрашен на вкус утончённого пользователя и лагает на смартфонах ниже топ уровня
              </li>
            </ul>
          </div>
          <div class="w-50 bg-danger">
            Минусы:<br>
            <ul>
              <li>
                Два разных сайта
              </li>
              <li>
                Больше затрат на их поддержку
              </li>
            </ul>
          </div>
        </div>
      </div>
    </body>
</html>